html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: .85em;
    font-family: Tahoma, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 950px;
    margin: 0 auto;
}

#header {
    height: 120px;
    background: url("images/head_bg.jpg") no-repeat;
}

.logo {
    background: url("images/logo.png") no-repeat;
    float: left;
    margin-left: 30px;
    width: 300px;
    height: 53px;
    margin-top: 12px;
}

.subMenu {
    border: 1px solid rgb(202,207,218);
    border-radius: 5px 5px 1px 1px;
    width: 290px;
    float: right;
    background: rgb(252,253,254);
    margin-right: 12px;
    line-height: 40px;
    position: relative;
    top: 37px;
    text-align: center;
}

    .subMenu a {
        border-right: 2px solid rgb(194,203,229);
        padding-right: 6px;
        font-weight: 600;
        text-decoration: none;
        font-size: 105%;
        color: rgb(39,142,214);
    }

        .subMenu a.noborder {
            border: none;
        }

        .subMenu a.active {
            color: rgb(65,107,58);
        }

.mainMenu {
    clear: both;
    position: relative;
    top: 10px;
    background: rgb(98,174,16);
    line-height: 30px;
    border: 1px solid rgb(166,205,116);
    border-radius: 0 0 5px 5px;
}

    .mainMenu ul {
        margin: 0;
        padding: 0;
    }

        .mainMenu ul li {
            display: inline;
            list-style: none;
        }

            .mainMenu ul li a {
                text-decoration: none;
                color: rgb(255,250,220);
                font-weight: 600;
                border-right: 2px solid rgb(123,192,50);
                padding-left: 10px;
                padding-right: 10px;
            }

#main-content {
    padding-top: 20px;
}

.floatDiv {
    float: left;
}

.leftWidth {
    width: 360px;
}

.co2 {
    background: url("../Images/co2.png") no-repeat;
    width: 360px;
    height: 261px;
}

table.energy {
    width: 560px;
    border: 1px solid rgb(205,233,175);
    border-collapse: collapse;
    font-size: 90%;
}

    table.energy caption {
        text-align: left;
        background: rgb(146,208,80);
        line-height: 23px;
        font-weight: bold;
        text-indent: 2em;
    }

    table.energy tr {
        border-bottom: 1px solid rgb(241,245,238);
        line-height: 16px;
    }

        table.energy tr.split {
            border-width: 3px;
            border-color: rgb(147,208,81);
        }

    table.energy td {
        border-right: 1px solid rgb(242,249,230);
    }

        table.energy td.special {
            color: rgb(107,205,152);
            font-weight: 600;
        }

#wtd, #ytd {
    background: rgb(223,233,201);
}

#cat {
    width: 18%;
}

.divClass {
    border: solid thin Silver;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
}

.PagerStyleClass * td {
    border-style: none;
}

th, td {
    border: solid thin #A3C0E8;
    border-width: 1px;
}
