html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: .85em;
    font-family: Tahoma, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 950px;
    margin: 0 auto;
}

#header {
    height: 120px;
    background: url("images/head_bg.jpg") no-repeat;
}

.logo {
    background: url("images/logo.png") no-repeat;
    float: left;
    margin-left: 30px;
    width: 300px;
    height: 53px;
    margin-top: 12px;
}

.subMenu {
    border: 1px solid rgb(202,207,218);
    border-radius: 5px 5px 1px 1px;
    width: 290px;
    float: right;
    background: rgb(252,253,254);
    margin-right: 12px;
    line-height: 40px;
    position: relative;
    top: 37px;
    text-align: center;
}

    .subMenu a {
        border-right: 2px solid rgb(194,203,229);
        padding-right: 6px;
        font-weight: 600;
        text-decoration: none;
        font-size: 105%;
        color: rgb(39,142,214);
    }

        .subMenu a.noborder {
            border: none;
        }

        .subMenu a.active {
            color: rgb(65,107,58);
        }

.mainMenu {
    clear: both;
    position: relative;
    top: 10px;
    background: rgb(98,174,16);
    line-height: 30px;
    border: 1px solid rgb(166,205,116);
    border-radius: 0 0 5px 5px;
}

    .mainMenu ul {
        margin: 0;
        padding: 0;
    }

        .mainMenu ul li {
            display: inline;
            list-style: none;
        }

            .mainMenu ul li a {
                text-decoration: none;
                color: rgb(255,250,220);
                font-weight: 600;
                border-right: 2px solid rgb(123,192,50);
                padding-left: 10px;
                padding-right: 10px;
                font-size: .85em;
            }

#main-content {
    padding-top: 5px;
}

.floatDiv {
    float: left;
}

.leftWidth {
    width: 360px;
}

.co2 {
    background: url("../Images/co2.png") no-repeat;
    width: 360px;
    height: 261px;
}

table.energy {
    width: 560px;
    border: 1px solid rgb(205,233,175);
    border-collapse: collapse;
    font-size: 90%;
}

    table.energy caption {
        text-align: left;
        background: rgb(146,208,80);
        line-height: 23px;
        font-weight: bold;
        text-indent: 2em;
    }

    table.energy tr {
        border-bottom: 1px solid rgb(241,245,238);
        line-height: 16px;
    }

        table.energy tr.split {
            border-width: 3px;
            border-color: rgb(147,208,81);
        }

    table.energy td {
        border-right: 1px solid rgb(242,249,230);
    }

        table.energy td.content {
            text-align: center;
        }

        table.energy td.special {
            color: rgb(107,205,152);
            font-weight: 600;
        }

#wtd, #ytd {
    background: rgb(223,233,201);
}

#cat {
    width: 18%;
}

.divClass {
    border: solid thin Silver;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
}

.PagerStyleClass * td {
    border-style: none;
}

.moduleDIV {
    border: 1px solid #d2d2d2;
    font-family: "Microsoft YaHei";
    width: 948px;
    float: none;
    position: relative;
}

    .moduleDIV h2 {
        font-size: 15px;
        background: url(images/bg-cv-tit.gif) repeat-x 0 0;
        color: #92D050;
        font-weight: 700;
        text-align: left;
        border-bottom: 1px solid #d2d2d2;
        font-family: "Microsoft YaHei";
    }

.selectStyle {
    width: 150px;
    height: 25px;
    overflow: hidden;
    background: url(images/arrow.png) no-repeat right #F6F1DB;
    border: 2px solid #7d6754;
    border-radius: 2px;
}

    .selectStyle select {
        background: transparent;
        width: 180px;
        padding: 3px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 30px;
        -webkit-appearance: none;
        font-family: "Microsoft YaHei";
        color: #7d6754;
    }

share|improve this answer .title {
    border: 1px solid #d2d2d2;
    font-family: "Microsoft YaHei";
    width: 948px;
    float: none;
    position: relative;
    padding-left: 2px;
}


.homeLinkSelect {
    z-index: 99;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    height: 25px;
    line-height: 25px;
    float: left;
}

    .homeLinkSelect .selList {
        float: left;
        height: 15px;
        margin-left: 10px;
        width: 190px;
        text-align: left;
    }

    .homeLinkSelect select {
        font-size: 15px;
        max-width: 190px;
    }

    .homeLinkSelect .selOption {
        display: block;
        float: left;
        margin-right: 10px;
    }

    .homeLinkSelect .seldate {
        margin-top: 1px;
        display: block;
        float: right;
        z-index: 9;
        font-weight: normal;
        position: relative;
    }

        .homeLinkSelect .seldate a {
            display: inline-block;
        }
